<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách chuyến bay - Staff</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/static/img/logo-icon.png">
    <link rel="stylesheet" href="/static/css/fontawesome-free-6.4.0-web/css/all.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/index.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

</head>

<body>

    <div class="container mt-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-info">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}

    </div>
    <div id="main" style="height: 10vh;">
        <div id="chatbox">
            <div id="chatbox-text">Nhấn vào để chat</div>
            <a class="chatbox-a" href="https://www.facebook.com/AivivuHoChiMinh" target="_blank"><i
                    class="fa-brands fa-facebook-messenger"></i></a>
        </div>
        <div id="header" class="flexbox">
            <!-- Nút mở nav mobile -->
            <div class="nav-bar">
                <i class="fa-solid fa-bars" onclick="navMobile(this)"></i>
            </div>
            <!-- Lớp phủ đen khi mở nav mobile -->
            <div class="nav-overlay" id="overlay" onclick="closeNav(this)"></div>

            <div class="nav-mobile" id="mobile">
                <!-- Nút đóng nav mobile -->
                <div class="nav-close">
                    <i class="fa-regular fa-circle-xmark" onclick="closeNav(this)"></i>
                </div>
                <!-- nav menu trên mobile -->
                <ul class="nav-list">
                    <li class=""><a class="nav-mobile-link"
                            href="{{ url_for('authentication_routes.trang_khach_hang') }}">Home</a></li>
                    <li class=""><a class="nav-mobile-link" href="/templates/khuyenmai.html">Khuyến mãi</a></li>
                    <li class=""><a class="nav-mobile-link" href="/templates/vemaybay.html">Vé máy bay</a></li>
                </ul>
            </div>

            <div class="header-logo">
                <a href="{{ url_for('authentication_routes.trang_nhan_vien') }}"><img src="/static/img/logo.png"
                        alt="Logo"></a>
            </div>

            <!-- nav menu trên PC -->
            <ul class="nav flexbox"> <!-- class flexbox dùng để đặt nhanh vào những vị trí cần flex -->
                <li class=""><a class="nav-link" href="{{ url_for('authentication_routes.trang_nhan_vien') }}">Home</a></li>
                <li class=""><a class="nav-link" href="{{ url_for('ban_ve_routes.danh_sach_ban_ve') }}">Bán vé</a></li>
                <li class=""> <a class="nav-link" href="{{ url_for('chuyen_bay_routes.danh_sach_chuyen_bay') }}">Quản Lý
                        Chuyến Bay</a></li>

            </ul>

            <li class=""><a class="nav-link" href="{{ url_for('authentication_routes.index') }}">Đăng xuất</a></li>
        </div>
    </div>
    <h2 class="text-center text-uppercase">Danh Sách Chuyến Bay</h2>
    {% if quyen == "Người quản trị" %}
    <a href="{{ url_for('chuyen_bay_routes.them_chuyen_bay') }}" class="btn btn-success my-3" style="margin-left: 10%;">Thêm mới</a>
    {% endif %}

    <table  class="table mt-3 mx-auto" style="width: 80%; text-align: center;">
        <thead>
            <tr>
                <th scope="col">Mã Chuyến Bay</th>
                <th scope="col">Sân Bay Đi</th>
                <th scope="col">Sân Bay Đến</th>
                <th scope="col">Thao Tác</th>
            </tr>
        </thead>
        <tbody>
            {% for chuyen_bay in chuyen_bay_list %}
            <tr>
                <td>{{ chuyen_bay.ma_chuyen_bay }}</td>
                <td>{{ chuyen_bay.san_bay_di_ref.ten_san_bay }} ({{ chuyen_bay.san_bay_di }})</td>
                <td>{{ chuyen_bay.san_bay_den_ref.ten_san_bay }} ({{ chuyen_bay.san_bay_den }})</td>
                <td>
                    {% if quyen == "Admin" %}
                    <a href="{{ url_for('chuyen_bay_routes.sua_chuyen_bay', ma_chuyen_bay=chuyen_bay.ma_chuyen_bay) }}"
                        class="btn btn-warning">Sửa</a>
                    <a href="{{ url_for('chuyen_bay_routes.xoa_chuyen_bay', ma_chuyen_bay=chuyen_bay.ma_chuyen_bay) }}"
                        class="btn btn-danger">Xóa</a>
                    <a href="{{ url_for('ve_chuyen_bay_routes.ve_chuyen_bay', ma_chuyen_bay=chuyen_bay.ma_chuyen_bay) }}"
                        class="btn btn-primary">Vé chuyến bay</a>
                    {% endif %}

                    <a href="{{ url_for('lich_chuyen_bay_routes.lich_chuyen_bay', ma_chuyen_bay=chuyen_bay.ma_chuyen_bay) }}"
                        class="btn btn-success">Lịch chuyến bay</a>


                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>