<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm chuyến bay - Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/static/img/logo-icon.png">
    <link rel="stylesheet" href="/static/css/fontawesome-free-6.4.0-web/css/all.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/index.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
    <div class="container mt-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-info">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </div>
    <div id="main" style="height: 10vh;">
        <div id="chatbox">
            <div id="chatbox-text">Nhấn vào để chat</div>
            <a class="chatbox-a" href="https://www.facebook.com/AivivuHoChiMinh" target="_blank"><i
                    class="fa-brands fa-facebook-messenger"></i></a>
        </div>
        <div id="header" class="flexbox">
            <!-- Nút mở nav mobile -->
            <div class="nav-bar">
                <i class="fa-solid fa-bars" onclick="navMobile(this)"></i>
            </div>
            <!-- Lớp phủ đen khi mở nav mobile -->
            <div class="nav-overlay" id="overlay" onclick="closeNav(this)"></div>

            <div class="nav-mobile" id="mobile">
                <!-- Nút đóng nav mobile -->
                <div class="nav-close">
                    <i class="fa-regular fa-circle-xmark" onclick="closeNav(this)"></i>
                </div>
                <!-- nav menu trên mobile -->
                <ul class="nav-list">
                    <li class=""><a class="nav-mobile-link"
                            href="{{ url_for('authentication_routes.trang_khach_hang') }}">Home</a></li>
                    <li class=""><a class="nav-mobile-link"
                            href="{{ url_for('chuyen_bay_routes.danh_sach_chuyen_bay') }}">Quản lý chuyến bay</a></li>
                    <li class=""><a class="nav-mobile-link"
                            href="{{ url_for('quy_dinh_routes.thay_doi_quy_dinh') }}">Thay đổi quy định</a></li>
                </ul>
            </div>

            <div class="header-logo">
                <a href="{{ url_for('authentication_routes.trang_admin') }}"><img src="/static/img/logo.png"
                        alt="Logo"></a>
            </div>

            <!-- nav menu trên PC -->
            <ul class="nav flexbox"> <!-- class flexbox dùng để đặt nhanh vào những vị trí cần flex -->
                <li class=""><a class="nav-mobile-link"
                        href="{{ url_for('authentication_routes.trang_admin') }}">Home</a></li>
                <li class=""><a class="nav-mobile-link"
                        href="{{ url_for('chuyen_bay_routes.danh_sach_chuyen_bay_admin') }}">Quản lý chuyến bay</a></li>
                <li class=""><a class="nav-mobile-link" href="{{ url_for('quy_dinh_routes.thay_doi_quy_dinh') }}">Thay
                        đổi quy định</a></li>
                <li class=""><a class="nav-mobile-link" href="{{ url_for('quy_dinh_routes.doanh_thu_theo_thang') }}">Báo
                        cáo</a></li>

            </ul>

            <li class=""><a href="{{ url_for('authentication_routes.index') }}">Đăng xuất</a></li>
        </div>
    </div>

    <h2 style="text-align: center;">Thêm Chuyến Bay</h2>
    <form method="post" class="grid wide">
        <div class="form-group">
            <label for="ma_chuyen_bay">Mã Chuyến Bay:</label>
            <input type="text" class="form-control" id="ma_chuyen_bay" name="ma_chuyen_bay" required>
        </div>
        <!-- Trong file sua_chuyen_bay.html -->

        <!-- Thêm đoạn mã sau vào form để hiển thị dropdown cho sân bay đi và sân bay đến -->
        <div class="form-group">
            <label for="san_bay_di">Sân Bay Đi:</label>
            <select class="form-control" id="san_bay_di" name="san_bay_di" required>
                {% for san_bay in danh_sach_san_bay %}
                <option value="{{ san_bay.ma_san_bay }}">{{ san_bay.ten_san_bay }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="san_bay_den">Sân Bay Đến:</label>
            <select class="form-control" id="san_bay_den" name="san_bay_den" required>
                {% for san_bay in danh_sach_san_bay %}
                <option value="{{ san_bay.ma_san_bay }}">{{ san_bay.ten_san_bay }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Thêm Chuyến Bay</button>
    </form>









    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>