<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vé chuyến bay - Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/static/img/logo-icon.png">
    <link rel="stylesheet" href="/static/css/fontawesome-free-6.4.0-web/css/all.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/index.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
    <div class="container mt-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-info">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </div>
    <div id="main" style="height: 10vh;">
        <h2 class="text-center text-uppercase">Trang admin</h2>
        <div id="chatbox">
            <div id="chatbox-text">Nhấn vào để chat</div>
            <a class="chatbox-a" href="https://www.facebook.com/AivivuHoChiMinh" target="_blank"><i
                    class="fa-brands fa-facebook-messenger"></i></a>
        </div>
        <div id="header" class="flexbox">
            <!-- Nút mở nav mobile -->
            <div class="nav-bar">
                <i class="fa-solid fa-bars" onclick="navMobile(this)"></i>
            </div>
            <!-- Lớp phủ đen khi mở nav mobile -->
            <div class="nav-overlay" id="overlay" onclick="closeNav(this)"></div>

            <div class="nav-mobile" id="mobile">
                <!-- Nút đóng nav mobile -->
                <div class="nav-close">
                    <i class="fa-regular fa-circle-xmark" onclick="closeNav(this)"></i>
                </div>
                <!-- nav menu trên mobile -->
                <ul class="nav-list">
                    <li class=""><a class="nav-mobile-link"
                            href="{{ url_for('authentication_routes.trang_admin') }}">Home</a></li>
                    <li class=""><a class="nav-mobile-link"
                            href="{{ url_for('chuyen_bay_routes.danh_sach_chuyen_bay') }}">Quản lý chuyến bay</a></li>
                    <li class=""><a class="nav-mobile-link"
                            href="{{ url_for('quy_dinh_routes.thay_doi_quy_dinh') }}">Thay đổi quy định</a></li>
                    <li class=""><a class="nav-mobile-link"
                            href="{{ url_for('quy_dinh_routes.doanh_thu_theo_thang') }}">Thay đổi quy định</a></li>
                </ul>
            </div>

            <div class="header-logo">
                <a href="{{ url_for('authentication_routes.trang_admin') }}"><img src="/static/img/logo.png"
                        alt="Logo"></a>
            </div>

            <!-- nav menu trên PC -->
            <ul class="nav flexbox"> <!-- class flexbox dùng để đặt nhanh vào những vị trí cần flex -->
                <li class=""><a class="nav-mobile-link"
                        href="{{ url_for('authentication_routes.trang_admin') }}">Home</a></li>
                <li class=""><a class="nav-mobile-link"
                        href="{{ url_for('chuyen_bay_routes.danh_sach_chuyen_bay_admin') }}">Quản lý chuyến bay</a></li>
                <li class=""><a class="nav-mobile-link" href="{{ url_for('quy_dinh_routes.thay_doi_quy_dinh') }}">Thay
                        đổi quy định</a></li>
                <li class=""><a class="nav-mobile-link" href="{{ url_for('quy_dinh_routes.doanh_thu_theo_thang') }}">Báo
                        cáo</a></li>

            </ul>

            <li class=""><a href="{{ url_for('authentication_routes.index') }}">Đăng xuất</a></li>
        </div>
    </div>

    <h2 class="text-center text-uppercase">Danh Sách Vé Chuyến Bay {{ ma_chuyen_bay }}</h2>
    <table class="table mt-3 mx-auto" style="width: 80%;">
        <thead>
            <tr>
                <th scope="col">Mã vé</th>
                <th scope="col">Hạng vé</th>
                <th scope="col">Giá</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            {% for ve in ve_chuyen_bay_list %}
            <tr>
                <td>{{ ve.ma_ve }}</td>
                <td>{{ ve.hang_ve }}</td>
                <td>{{ ve.gia }}</td>
                <td>
                    <a href="{{ url_for('ve_chuyen_bay_routes.sua_ve_chuyen_bay', ma_ve=ve.ma_ve) }}"
                        class="btn btn-warning">Sửa</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>









    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>